<html>
    <head>
        <title>末伏的博客</title>
    </head>
    <body>
    	<div>
    		<h1><a href="">末伏的博客</a></h1>
    	</div>
    	<div>
    		<p>发表时间：2017年8月26日16点55分</p>
    		<h2><a href="">我的第一篇文章</a></h2>
    		<p>文章内容1文章内容1文章内容1文章内容1文章内容1文章内容1文章内容1文章内容1文章内容1文章内容1文章内容1文章内容1文章内容1文章内容1文章内容1文章内容1文章内容1文章内容1文章内容1文章内容1文章内容1文章内容1
    		</p>
    	</div>

    	<div>
    		<p>发表时间：2017年8月26日16点55分</p>
    		<h2><a href="">我的第二篇文章</a></h2>
    		<p>这里是文章内容2 这里是文章内容2这里是文章内容2这里是文章内容2这里是文章内容2这里是文章内容2这里是文章内容2这里是文章内容2这里是文章内容2这里是文章内容2这里是文章内容2这里是文章内容2这里是文章内容2这里是文章内容2
    		</p>
    	</div>

    </body>
</html>